
<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://www.facebook.com/2008/fbml"
      >

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  
  <title>{{ page.title }}</title>

  <META NAME="description" CONTENT="the personal site of dany joumaa, lifelong learner.">
  <META NAME="keywords" CONTENT="dany joumaa, ios, android, cocoa, google glass">
  <META NAME="copyright" CONTENT="Copyright © 2013 Dany Joumaa. All Rights Reserved.">
  <META NAME="author" CONTENT="Dany Joumaa">

  <meta property="og:title" content="dany joumaa - lifelong learner">
  <meta property="og:type" content="public_figure">
  <meta property="og:url" content="joumaa.com">
  <meta property="og:image" content="http://joumaa.com/img/icon.png">
  <meta property="og:site_name" content="dany joumaa's personal site">
  <meta property="og:description" content="the personal site of dany joumaa, lifelong learner.">

  <link rel="icon" type="image/ico" href="favicon.ico"/>
  <link href='http://fonts.googleapis.com/css?family=Quattrocento:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/main.css" />

<head>
</head>
<body>
  <header class="container">
    <a href="/"><img src="img/logo.png" alt="dany joumaa" /></a>
  </header>
  <div class="links container">
    <ul>
      <li>
        <a href="http://joumaa.com" target="_blank">&#x21aa; home</a>
      </li>
      <li>
        <a href="/influences.html" target="_blank">&#x21aa; influences</a>
      </li>
      <li>
        <a href="/" target="_blank">&#x21aa; writing</a>
      </li>
      <li>
        <a href="/about.html" target="_blank">&#x21aa; about</a>
      </li>
      
    </ul>
  </div>
  <div class="content container">
    {{ content }}
  </div>

</body>
</html>
